{% load staticfiles %}

<html>
<head>
	{% include 'head_css.html' %}
	{% include 'javascript.html' %}

	<script type="text/javascript">
		$(document).ready(function () {
        $(".nav li").removeClass("active");//this will remove the active class from  
                                           //previously active menu item 
        $('#about').addClass('active');
    	});

	</script>
</head>
<body>
	{% include 'navbar.html' %}

	<div class="container">
		<h2 class="text-align-center" style="margin-bottom: 0px;">Dr Ramraj Nanak - Consultant Bariatric Surgeon</h2>
		<div class="row">
		<div class = "col-xs-6 col-sm-8">
			<h3>
				MBBS
			</h3>
			<h4>
				M.S. Ramaiah Medical College, Bangalore <br>
				(RGUHS, Karnataka)    Aug 2000 to March 2005
			</h4>
			<h3>
				DNB
			</h3>
			<h4>
				Gen. Surgery    St. Philomena’s Hospital, <br>
				Bangalore    June 2010
			</h4>
			<h3>
				FIAGES
			</h3>
			<h4>
				V G Hospital,
				Coimbatore    December 2013
			</h4>
			<h3>
				FMBS
			</h3>
			<h4>
				Fellowship in Bariatric &amp; Metabolic surgery <br>
				A V Hospital, Vikram Hospital Bangalore (RGUHS, Karnataka) <br>    
				February 2013 to January 2015
			</h4>
			<h3>
				FMIS
			</h3>
			<h4>
				Fellowship in Minimal invasive Surgery    BGS Global Hospital, Bangalore <br>
				(RGUHS, Karnataka)    July 2011 to February 2013
			</h4>
			<h3>
				FACRSI
			</h3>
			<h4>
				Fellow of The Association of Colon &amp; Rectal Surgeons of India (ACRSI)
			</h4>
		</div>
		<div class = "col-xs-6 col-sm-4">
			<img src="{% static 'img/Ramraj.jpg' %}" width="340px" style="padding-top: 20px">
		</div>
		</div>
	</div>
	<div class="container" style="padding-top: 25px">
		<h2 class="text-align-center">Summary</h2>
		<div style="text-align:left;  font-size: initial;">
			At St. Philomena’s during his Surgical Residency Dr Ramraj has been trained and has worked with renowned Trauma, General, Laparoscopic, Gastro-intestinal, Vascular, Urology, Thoracic &amp; Onco-surgeons. During his Fellowship in Minimal invasive surgery he was trained by a Surgical Gastro-eneterologist in:
			<ul>
				<li>Basic laparoscopy</li>
				<li>Hernia surgeries</li>
				<li>Advanced Laparoscopic &amp; Thoracoscopic procedures including</li>
				<li>Minimal invasive &amp; open Upper gastro-intestinal surgeries</li>
				<li>Minimal invasive &amp; open Hepato-biliary pancreatic surgeries</li>
				<li>Minimal invasive &amp; open Colorectal surgeries</li>
				<li>Single incision surgeries.</li>
			</ul>
			
			&nbsp;During Fellowship at BGS Global Hospital in Minimal invasive surgery Dr Ramraj had the opportunity to be trained by a Surgical Gastro-eneterologist in:<br>
			<ul>
				<li>Basic laparoscopy<br></li>
				<li>Hernia surgeries</li>
				<li>Advanced Laparoscopic &amp; Thoracoscopic procedures including</li>
				<li>Minimal invasive &amp; open Upper gastro-intestinal surgeries</li>
				<li>Minimal invasive &amp; open Hepato-biliary pancreatic surgeries<br></li>
				<li>Minimal invasive &amp; open Colorectal surgeries</li>
				<li>Single incision surgeries.<br></li>
			</ul>
			&nbsp;At A.V Hospital &amp; Vikram hospital for Metabolic &amp; Bariatric surgery fellowship he was trained in more than 400 Bariatric surgeries including:
			<ul>
				<li>Sleeve gastrectomies</li>
				<li>Banded sleeve gastrectomies</li>
				<li>Roux-en-y gastric bypass</li>
				<li>Banded Roux-en-y gastric bypass</li>
				<li>Mini gastric bypass</li>
				<li>Banded mini gastric bypass</li>
				<li>Re-do bariatric surgeries</li>
				<li>Ileal interposition</li>
				<li>Reversal of Roux-en-y bariatric surgeries</li>
				<li>Adolescent bariatric surgeries</li>
			</ul>
		</div>
	</div>
	<div class="container">
		<h2 class="text-align-center">Posters</h2>
		<div class="paragraph" style="text-align:left;  font-size: initial;">
			<ol>
				<li>Laparoscopic repair of Rectovaginal fistula. &nbsp;Tropical Gastroenterology, Volume 33 Number 3(Supplement 1) July-September 2012, C12, S43. Srikanth Gadiyaram, Neel Shetty, Jayanth Reddy, Ganesh Shenoy, Sunilkumar Alur, <strong>Ramraj Nanak.</strong><br></li>
				<li>Laparoscopic Longitudinal Pancreatico-Jejunostomy. Tropical Gastroenterology, Volume 33 Number 3(Supplement 1) July-September 2012, P12, S105. Srikanth Gadiyaram, Neel Shetty, Jayanth Reddy, Ganesh Shenoy, Sunilkumar Alur, <strong>Ramraj Nanak.</strong></li>
				<li>&nbsp;Supercharged colonic interposition for corrosive pharyngo-esophageal stricture. Tropical Gastroenterology, Volume 33 Number 3(Supplement 1) July-September 2012,&nbsp; E16, S19. Srikanth Gadiyaram, Neel Shetty, Jayanth Reddy, Ganesh Shenoy, Sunilkumar Alur, <strong>Ramraj Nanak.</strong></li>
				<li>Laparoscopic proximal gastrectomy with en bloc upper splenectomy for GIST of the Esophago-Gastric junction. Tropical Gastroenterology, Volume 33 Number 3(Supplement 1) July-September 2012, S13, S31. Srikanth Gadiyaram, Neel Shetty, Jayanth Reddy, Ganesh Shenoy, Sunilkumar Alur, <strong>Ramraj Nanak.</strong></li>
				<li>Aorto-superior Mesenteric bypass. Tropical Gastroenterology, Volume 33 Number 3(Supplement 1) July-September 2012, I7, S36. Srikanth Gadiyaram, Neel Shetty, Jayanth Reddy, Ganesh Shenoy, Sunilkumar Alur, <strong>Ramraj Nanak.</strong></li>
				<li>Right Hepatectomy in icteric type Hepatocellular Carcinoma – Report of a case and literature review. Tropical Gastroenterology, Volume 33 Number 3(Supplement 1) July-September 2012, L25, S60. Srikanth Gadiyaram, Neel Shetty, Jayanth Reddy, Ganesh Shenoy, Sunilkumar Alur, <strong>Ramraj Nanak.</strong><br></li>
				<li>Is R0 Resection in the presence of Self Expandable Metallic Stent in Hilar Cholangiocarcinoma possible ? Tropical Gastroenterology, Volume 33 Number 3(Supplement 1) July-September 2012,&nbsp; B10, S83. Srikanth Gadiyaram, Neel Shetty, Jayanth Reddy, Ganesh Shenoy, Sunilkumar Alur, <strong>Ramraj Nanak.</strong><br></li>
				<li>Laparoscopic Pancreatic Necrosectomy. Tropical Gastroenterology, Volume 33 Number 3(Supplement 1) July-September 2012, P20, S102. Srikanth Gadiyaram, Neel Shetty, Jayanth Reddy, Ganesh Shenoy, Sunilkumar Alur, 
				<strong>Ramraj Nanak.</strong></li>
			</ol>
		</div>
	</div>
	<div class="container">
		<h2 class="text-align-center">Video Presentations</h2>
		<div class="paragraph" style="text-align:left;  font-size: initial;">
			<ol>
				<li> Thoracolaparoscopic Extended Myotomy for Diffuse Esophageal spasm. Tropical Gastroenterology, Volume 33 Number 3(Supplement 1) July-September 2012, E22, S21. Srikanth Gadiyaram, Neel Shetty, Jayanth Reddy, Ganesh Shenoy, Sunilkumar Alur, <strong>Ramraj Nanak.</strong></li>
				<li> Laparoscopic D2 Gastrectomy for advanced Gastric Cancer. Tropical Gastroenterology, Volume 33 Number 3(Supplement 1) July-September 2012, S16, S31. Srikanth Gadiyaram, Neel Shetty, Jayanth Reddy, Ganesh Shenoy, Sunilkumar Alur, <strong>Ramraj Nanak.</strong></li>
				<li> Total Laparoscopic repair of Rectovaginal fistula. Tropical Gastroenterology, Volume 33 Number 3(Supplement 1) July-September 2012, C16, S44. Srikanth Gadiyaram, Neel Shetty, Jayanth Reddy, Ganesh Shenoy, Sunilkumar Alur, <strong>Ramraj Nanak.</strong></li>
				<li> Laparoscopic Total Proctocolectmy with ileal pouch anal anastomosis for Familial Adenomatous Polyposis.p; Tropical Gastroenterology, Volume 33 Number 3(Supplement 1) July-September 2012, C32, S48. Srikanth Gadiyaram, Neel Shetty, Jayanth Reddy, Ganesh Shenoy, Sunilkumar Alur, <strong>Ramraj Nanak.</strong></li>
				<li> Totally Laparoscopic Right Hepatectomy with Modified Liver hanging technique. Tropical Gastroenterology, Volume 33 Number 3(Supplement 1) July-September 2012, L33, S62. Srikanth Gadiyaram, Neel Shetty, Jayanth Reddy, Ganesh Shenoy, Sunilkumar Alur, <strong>Ramraj Nanak.</strong></li>
				<li> Laparoscopic Resection of Giant Hemangioma. Tropical Gastroenterology, Volume 33 Number 3(Supplement 1) July-September 2012, L34, S62. Srikanth Gadiyaram, Neel Shetty, Jayanth Reddy, Ganesh Shenoy, Sunilkumar Alur, <strong>Ramraj Nanak.</strong></li>
				<li> Laparoscopic Choledochal cyst excision following Bilio-enteric bypass. Tropical Gastroenterology, Volume 33 Number 3(Supplement 1) July-September 2012, B18, S86. Srikanth Gadiyaram, Neel Shetty, Jayanth Reddy, Ganesh Shenoy, Sunilkumar Alur, <strong>Ramraj Nanak.</strong></li>
				<li> Laparoscopic Distal Pancreatectomy for Giant Pancreatic Neoplasm. Tropical Gastroenterology, Volume 33 Number 3(Supplement 1)JulySeptember 2012, P37, S107. Srikanth Gadiyaram, Neel Shetty, Jayanth Reddy, Ganesh Shenoy, Sunilkumar Alur, <strong>Ramraj Nanak.</strong></li>
			</ol>
		</div>
	</div>
	<div class="container">
		<h2 class="text-align-center">Journal articles under review by various journals</h2>
		<div class="paragraph" style="text-align:left;  font-size: initial;">
			<ol>
				<li> Does Diabetes Surgery Score Predict Success of Metabolic Surgery? Our experience.<br></li>
				Original article<br>
				<li> Early Post Operative Bleed after Bariatric surgery: Our Experience<br></li>
				Original article<br>
				<li> Cost effective Roux-en-y gastric bypass – Three stapler technique<br></li>
				Original article<br>
				<li> Which scoring system can predict the outcome of metabolic surgery better: Diabetes surgery score (DSS) or Diabetes remission score (DRS)?<br></li>
				Original article<br>
				<li> Case report : A Rare Case of Colorectal Carcinoma following Roux - en – Y Gastric Bypass surgery.</li>
			</ol>
		</div>
	</div>
	<div class="container">
		<h2 class="text-align-center">Journal articles published</h2>
		<div class="paragraph" style="text-align:left;  font-size: initial;">
			<ol>
				<li> December 2014 edition Case report: A rare case of colorectal carcinoma following Roux-en-y gastric bypass surgery Journal of evolution of medical &amp; dental sciences (JEMDS)<br></li>
				<strong>ACCEPTED</strong><br>
				<li> 01-01-2015 Original article: Does length of common limb influence remission of diabetes? Short term results Journal of minimal access surgery (JMAS)<br></li>
			</ol><br><br><br><br>
		</div>
	</div>
</body>
</html>