{% load staticfiles %}

    <!-- Static navbar -->
<nav class="navbar navbar-fixed-top navbar-default">
  <div class="container-fluid">
  	<div class="row header">
  		<div class="col-md-5 pull-right">
  		  <p class="call">
  		  	<i class="fa fa-envelope"></i>
  		  	Mail Me: consult@ramrajnanak.com
  			<i class="fa fa-phone"></i>
  			Call Me: +91 9986149199 / +91 80 26601405
  		  </p>
  		</div>
  	</div>
  <div class="row">
  <div class = "col-xs-6 col-sm-2">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">RAMRAJ NANAK</a>
    </div>
  </div>
  <div class = "col-xs-6 col-sm-10">
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <li id = "home" class="active"><a href="{% url 'home' %}">Home</a></li>
      <li id = "about"><a href="{% url 'about' %}">About</a></li> 
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Surgeries
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Bariatric &amp; Metabolic</a></li>
          <li><a href="#">Gastro Intestinal</a></li>
          <li><a href="#">Minimal Access</a></li>
          <li><a href="#">Throacoscopy / Vats</a></li> 
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Ancilliary
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Nutrition</a></li>
          <li><a href="#">Physiotherapy</a></li>
          <li><a href="#">Stoma Care</a></li>
          <li><a href="#">Medications</a></li> 
        </ul>
      </li>
      <li><a href="">Knowledge Library</a></li>
      <li id = "gallery"><a href="{% url 'gallery' %}">Gallery</a></li>
      <li id = "contact"><a href="{% url 'contact' %}">Contact</a></li>
    </ul>
  </div>
  </div>
  </div>
  </div>
</nav>